name: CI
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build, lint, and test on Node 20

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Use Node 20
        uses: actions/setup-node@v6
        env:
          FORCE_COLOR: 0
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:ci
